{% extends "baseHTML.html" %}
{% block Kvass %}
    <div class="Kvass1">
        <div class="Mewing"><img id="mewing" src="static/Безымянный.png"></div>
        <div class="Name">Название сайта</div>
        <div class="authForm">
            <div class="Text1">Войти</div>
            <input type="text" placeholder="Никнейм" name="nickname" form="enter">
            <input type="password" placeholder="Пароль" name="password" form="enter">
            <div class="OtherDisplay">
                <div class="Text2">С чужого устр.</div>
                <input type="checkbox">
            </div>
            <form action="/Kvass52" method="post" id="enter">
                <button class="Enter">Продолжить</button>
            </form>
            <form action="/registration">
                <button class="Register">Регистрация</button>
            </form>
        </div>
    </div>
{% endblock Kvass %}