<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwinTowers</title>
    <link href="Войти.css" rel="stylesheet" type="text/css" />
    <script scr="script.js"></script>
</head>
<body>
    <div class="Main">
        <div class="Theme"></div>
            <button class="Button"></button>
            <div class="Text3">Recommended ↑</div>
        </div>
        <div class="Kvass1">
            <div class="Mewing"><img src="Безымянный.png"></div>
            <div class="Name">Название сайта</div>
            <form class="Войти">
                <div class="Text1">Войти</div>
                <input type="text" placeholder="Никнейм">
                <input type="password" placeholder="Пароль">
                <div class="OtherDisplay">
                    <div class="Text2">С чужого устр.</div>
                    <input type="checkbox">
                </div>
                <button class="Enter">Продолжить</button>
                <button type="submit" class="Register">Регистрация</button>
            </form>
        </div>
    </div>
</body>
</html>