{% extends "baseHTML.html" %}
{% block Kvass %}
    <script type="text/javascript" src="static/plane1.js" defer></script>
    <link href="static/Войти.css" rel="stylesheet" type="text/css"/>
    <div class="Kvass1" id="Kvass1">
        <div class="Mewing" id="Mewing"></div>
        <div class="Name" id="Name">Библиотека школы № 2098</div>
        <div class="authForm" style="background-color: rgb(0, 0, 0, 0);">
            <input type="text" placeholder="Имя пользователя" name="nickname" form="enter" class="vvod">
            <input type="password" placeholder="Пароль" name="password" form="enter" class="vvod" id="vvod">
            <div class="OtherDisplay" id="OtherDisplay">
                <div class="Text2" id="Text2">Показать пароль</div>
                <input type="checkbox"class="chekker">
            </div>
            <form action="/Kvass52" method="post" id="enter">
                <button class="Enter">Войти</button>
            </form>
            <div class="Palka69" id="Palka69"></div>
            <form action="/registration">
                <button class="Register">Регистрация</button>
            </form>
            <div class="change" id="change_password"> Забыли пароль? </div>
        </div>
    </div>
{% endblock Kvass %}