{% extends "baseHTML.html" %}
{% block Kvass %}
    <div class="Kvass1">
        <div class="Mewing"><img id="mewing" src="static/Безымянный.png"></div>
        <form method="post" class="authForm" action="/Kvass1488">
            <div class="Text1">Регистрация</div>
            <select name="userType">
                <option value="Ученик">Ученик</option>
                <option value="Библиотекарь">Классный руководитель</option>
                <option value="Классный руководитель">Библиотекарь</option>
            </select>
            <input type="text" required name="nickname" placeholder="Никнейм">
            <input type="text" required name="grade" placeholder="Класс">
            <input type="text" required name="name" placeholder="Имя">
            <input type="text" required name="last_name" placeholder="Фамилия">
            <input type="password" required name="password" placeholder="Пароль">
            <button type="submit" class="Register">Зарегистрироваться</button>
        </form>
    </div>
{% endblock Kvass %}
</body>
</html>