{% extends "baseHTML.html" %}
{% block Kvass %}
    <div class="Kvass1" id="Kvass1">
        <div class="Mewing"><img id="mewing" src="static/Безымянный.png"></div>
        <form method="post" class="authForm" action="/Kvass1488">
            <div class="Text1">Регистрация</div>
            <select name="userTypeId">
                    {% for book in KvassMnogo %}
                        <option value={{ book.name }}>{{ book.name }}</option>
                    {% endfor %}
            </select>
            <input type="text" required name="nickname" placeholder="Никнейм">
            <select name="userGrade">
                    {% for book in KvassInfinity %}
                        <option value={{ book.name }}>{{ book.name }}</option>
                    {% endfor %}
            </select>
            <input type="text" required name="name" placeholder="Имя">
            <input type="text" required name="last_name" placeholder="Фамилия">
            <input type="password" required name="password" placeholder="Пароль">
            <button type="submit" class="Enter">Зарегистрироваться</button>
        </form>
    </div>
{% endblock Kvass %}